html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.dataCircle {
  pointer-events: all;
}

.tooltip {
  position: absolute;
  z-index: 10;
  display: inline-block;
  background-color: white;
  padding: 10px;
  visibility: hidden;
  pointer-events: none; 
}

.selected {
  opacity: 1 !important;
  stroke: black !important;
  stroke-width: 2px !important;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
