.body {
    padding: 30px 30px;
    display: flex;
    width: 100%;
    /* border: 1px solid red; */
    min-height: 100vh;
    max-width: 100vw;
}

.mainPlot {
    width: 70%;
    /* border: 1px solid blue;  */
}

.mainPlotHeader {
    display: flex;
    flex-direction: column;
}
.mainPlotTitle {
    font-size: 30px;
    font-weight: bold;
    margin: 0
}
.mainPlotSub {
    font-size: 16px;
    font-weight: 200;
}

.subPlots {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 90vw;
}

.selectors {
    width: 30%; 
    display: flex;
    flex-direction: column;
}

.data-selector {
    width: 90%;
    border: 3px solid #E4E0EE;
    margin: 10px 10px;
    padding: 20px;
}

.data-content-line {
    display: flex;
    flex-direction: column;
}
.data-title {
    font-size: 20px;
    font-weight: bold;
}
.property-range {
    width: 90%;
    border: 3px solid #E4E0EE;
    margin: 0 10px;
    padding: 20px;
}