.body {
    padding: 0px 30px;
    display: flex;
    width: 100%;
    min-height: 100vh;
    max-width: 100vw;
}

.mainPlot {
    width: 50%;
}

.mainPlotHeader {
    display: flex;
    flex-direction: column;
}
.mainPlotTitle {
    font-size: 30px;
    font-weight: bold;
    margin: 0
}
.mainPlotSub {
    margin-bottom: 0px;
    font-size: 14px;
    font-weight: 200;
}

.subPlots {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 25%;
}

.selectors {
    width: 25%; 
    display: flex;
    flex-direction: column;
}

.data-selector {
    width: 90%;
    border: 3px solid #E4E0EE;
    margin: 10px 10px;
    padding: 20px;
}

.data-content-line {
    display: flex;
    flex-direction: column;
}
.data-title {
    font-size: 20px;
    font-weight: bold;
}
.property-range {
    width: 90%;
    border: 3px solid #E4E0EE;
    margin: 0 10px;
    padding: 20px;
}